version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "maven"
    directory: "sources/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "terraform"
    directory: "terraform/"
    schedule:
      interval: "weekly"
