body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

h1, h2 {
    font-weight: normal;
}

.activated {
    background-color: #188038;
    color: #fff;
    border-radius: 4px;
    padding: 4px;
    display: inline;
}    

.jit-title {
    color: #006CBE;
}

.jit-title a {
    color: #006CBE;
    text-decoration: none;
}

.jit-title img {
    height: 1.2rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}
        
#jit-projectselector {
    margin-left: 25px;
}
      
.jit-helpbutton {
    color: #006CBE;
    text-decoration: none;
}

.jit-view {
    margin: 20px;
    display: none;
}
            
.jit-actionbutton {
    margin-top: 20px;
}

.jit-footer {
    justify-content: center;
    background-color: #fefefe;
    font-size: 12px;
    display: flex;
    padding: 32px 16px;
    color: #9e9e9e;
}
    
.jit-footer a {
    color: #9e9e9e;
}

.jit-card-subsection {
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jit-card-divider {
    border-top: 1px dashed lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}

#jit-scope {
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
    color: #006CBE;
}

.mdc-text-field {
    margin-top: 10px !important;
    width: 100%;
}

.tabulated-list {
    list-style: none;
}

.tabulated-list li {
    list-style-type: square;
}

.tabulated-list li span {
    display: inline-block;
}

.tabulated-list li span:first-of-type {
    width: 130px;
}

/* ==== jQuery UI === */

.ui-autocomplete-loading {
    background: url(/spinner.gif) no-repeat right center
}

.ui-autocomplete {
    z-index: 100 !important;
}

.ui-widget {
    font-family: "Roboto",sans-serif;
}

.ui-menu {
    background-color: white;
    font-size: 14px;
    //box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

ul.ui-menu  {
    list-style: none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}

.ui-menu-item  {
    border: 0px;
}

.ui-menu-item-wrapper {
    padding: 10px;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #f0f0f0 !important;
}

.ui-helper-hidden-accessible{
    display:none;
}

/* ==== MDC Overrides === */

.mdc-data-table {
    width: 100%;
}

.mdc-top-app-bar__row {
    background-color: #FAFAFA;
    color: rgb(66,66,66);
    border: 1px solid rgba(0, 0, 0, 0.12);
}
            
.mdc-top-app-bar--fixed-adjust {
}
            
.mdc-banner {
    background-color: #FFFDE7;
}

            
.mdc-top-app-bar--fixed-adjust {
    padding-top: 48px;
}

.mdc-banner__content {
    max-width: 100%;
}

main .mdc-button {
    margin-top: 8px;
    margin-right: 0;
}

.mdc-card {
    padding: 10px;
    font-size: var(--mdc-typography-body2-font-size, 0.875rem);
    color: rgba(0,0,0,.8);
}

.mdc-dialog .mdc-dialog__content{
    font-size: var(--mdc-typography-body2-font-size, 0.875rem);
    color: rgba(0,0,0,.8);
}

/* ==== Debug === */

#debug-pane {
    font-size: 10pt;
    position: fixed;
    width: 300px;
    background: #eee;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    padding: 3px;
}