body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

      

.jit-title {
    color: #006CBE;
}

.jit-title img {
    height: 1.2rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;

}
        
.jit-projectselector {
    margin-left: 25px;
}
      
.jit-helpbutton {
    color: #006CBE;
    text-decoration: none;
}

.jit-main {
    margin: 20px;
}
            
.jit-actionbutton {
    margin-top: 20px;
}
            
.jit-datatable {
    width: calc(100% - 40px);
}

.jit-footer {
    justify-content: center;
    background-color: #fefefe;
    font-size: 12px;
    display: flex;
    padding: 32px 16px;
    color: #9e9e9e;
}
    
.jit-footer a {
    color: #9e9e9e;
}


/* ==== MDC Overrides === */

.mdc-top-app-bar__row {
    background-color: #FAFAFA;
    color: rgb(66,66,66);
    border: 1px solid rgba(0, 0, 0, 0.12);
}
            
.mdc-top-app-bar--fixed-adjust {
}
            
.mdc-banner {
    background-color: #FFFDE7;
}

            
.mdc-top-app-bar--fixed-adjust {
    padding-top: 48px;
}




/* ==== Debug === */

#debug-pane {
    font-size: 10pt;
    position: fixed;
    width: 300px;
    background: #eee;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    padding: 3px;
}