#
# Copyright 2022 Google LLC
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

name: Continuous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  VERSION: '1.0'
  SOURCE_DIR: sources
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
        
    - name: Set version
      run: mvn versions:set -DnewVersion=$VERSION.$GITHUB_RUN_NUMBER --file $SOURCE_DIR/pom.xml
      
    - name: Build
      run: mvn -P release -B package -Dmaven.test.skip=true --file $SOURCE_DIR/pom.xml

    - name: 'Upload artifact'
      uses: actions/upload-artifact@v2
      with:
        name: jit-access.jar
        path: sources/target/*.jar
        retention-days: 14